.navbar {
    background-color: rgb(10, 122, 61);
    height: 70px;

}

.navbar-brand {
    color: #fff;

    font-size: 1.5rem;

}

.navbar-nav .nav-link {
    color: #fff;
    margin-right: 20px;

}

.navbar-nav .nav-link.active {
    font-weight: bold;

}

.container-fluid {
    justify-content: center;

}

.contenedor-texto {
    text-align: center;
}

.texto-ejemplo {
    font-size: 50px;
    color: #0e7205;
}

.carrito {
    background-color: transparent;
    border: none;

}

.item-container {
    display: flex;
    /* Activa el modelo de caja flexible */
    flex-direction: row;
    /* Los elementos hijos se colocarán en una fila */
    justify-content: space-between;
    /* Espacio entre los elementos en la fila */
    margin: 10px;
    /* Márgenes entre las tarjetas */
}